.slider-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slider-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  z-index: 10;
  user-select: none;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-button:focus {
  outline: none;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
.image-wrapper img{
  height: 40%;
  width: 40%;
  overflow: hidden;
  position: relative;
}